/*@if $range == mobile-only {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $range == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}
*/
.list, .nav, .contacts, .specialization {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
}

.specialization img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logo {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*%link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

%hidden-header {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0px;
  border: 0px;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

%checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  src: local("Roboto $title-text-color"), local("Roboto-$title-text-color"), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../fonts/raleway-v18-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg");
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: #ffffff;
  color: #757575;
  margin: 0px;
}

body.modal-open {
  overflow: hidden;
}

/*.link {
  @extend %link;
}*/
/*Style for index.html*/
html {
  box-sizing: border-box;
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 2px solid red;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

/*.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  width: 145px;
  height: auto;
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: $letter-spacing;
  color: $head-text-color;
}*/
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1;
}

.page-header.border-header {
  border-bottom: 1px solid #ececec;
}

.header-items {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .header-items {
    padding: 10px 0px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header-items {
    padding: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .nav-contacts {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ececec;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .nav-contacts.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .nav-contacts {
    position: initial;
    display: flex;
    width: initial;
    box-shadow: none;
    border-top: none;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav .item {
    text-align: center;
    margin-bottom: 40px;
  }
  .nav .item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item:first-child {
    margin-left: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .nav .item:first-child {
    margin-left: 85px;
  }
}

@media screen and (max-width: 767px) {
  .nav .item.active {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item.active {
    margin-bottom: 0px;
  }
}

.nav .link {
  position: relative;
  display: flex;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav .link {
    display: inline-block;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
  }
}

.nav .link:hover, .nav .link:focus {
  color: #2196f3;
}

.nav .link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.nav .link.active::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .nav .link.active::after {
    top: calc(100% + 8px);
  }
}

@media screen and (min-width: 768px) {
  .nav .link.active::after {
    top: initial;
  }
}

.nav .link.active {
  color: #2196f3;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close-menu {
  display: none;
}

.menu-button.is-open .icon-close-menu {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 0;
    margin-left: 84px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    padding: 0;
    margin-left: 305px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contacts .item + .item {
    margin-left: 30px;
  }
}

.contacts-icon {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .contacts-icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .contacts .item {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contacts .item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .contacts .item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .contacts .item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts .item {
    margin-bottom: 0px;
  }
}

.contacts .link {
  display: flex;
  align-items: center;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts .link {
    justify-content: center;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts .link {
    justify-content: left;
  }
}

.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
}

/*.menu {
  @extend %centered-flex;

  height: 80px;
  @media screen and (max-width: 479px) {
    width: 100%;
    display: flex;
    justify-content: left; 
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  @media screen and (max-width: 1199px) {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
  }
}

.site-nav .menu-item:last-child {
  margin-right: 0;
}

.contact-nav .menu-item:last-child {
  margin-right: 0;
}

.site-nav {
  margin: 0;
  padding: 0;
  width: 294px;
  height: auto;
  letter-spacing: 0.02em;
}

.menu .menu-item + .menu-item {
  margin-left: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}

.contact-nav .link {
  
  padding-top: 32px;
  padding-bottom: 32px;
  padding: auto;
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contacts .item {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  &:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}*/
/* Site nav*/
/*.site-nav .link {
  @extend %link;
  @media screen and (max-width: 768px) {
    display: none;
  }
  position: relative;
  display: block;
  width: auto;
  height: 80px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: $font-family;
  font-weight: 500;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: 0.02em;
  color: $head-text-color;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-nav {
  @extend %list;
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-top: 0;
    margin-left: 84px;

    font-family: $font-family;
    font-weight: 500;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: 0.02em;
    color: $title-text-color;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    display: flex;
    padding: 0;
    margin-left: auto;
    align-items: center;
    font-family: $font-family;
    font-weight: 500;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: 0.02em;
    color: $title-text-color;
  }

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
}

.site-nav .link.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  bottom: 0;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

.email {
  display: flex;
  align-items: center;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.phone {
  display: flex;
  align-items: center;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.envelope {
  @media screen and (min-width: 480px) {
    margin-right: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  padding: 0;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  .email:hover &,
  .email:focus & {
    fill: $accent-color;
  }
}

.smartphone {
  @media screen and (min-width: 480px) {
    margin-right: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 10px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  padding: 0;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  .phone:hover &,
  .phone:focus & {
    fill: $accent-color;
  }
}*/
/*.primary-button {
  @extend %centered-flex;

  text-align: center;
  min-width: 200px;
  min-height: 50px;
  margin: auto;
  padding: 10px 32px;
  outline: 0;

  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $top-nav-color;

  box-shadow: 0px 4px 4px $box-shadow;
  border-radius: 4px;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  & {
    color: $top-nav-color;
    background-color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $top-nav-color;
    background-color: $accent-color;
    cursor: pointer;
  }
}*/
/*social icons*/
/*.social-item {
  @extend %centered-flex;

  background-color: $button-color;
  width: 206px;
  height: 44px;
  margin-left: 32px;
  margin-right: 30px;
}

.social-link {
  @extend %centered-flex;

  width: 44px;
  height: 44px;

  border: 1px solid transparent;
  border-radius: 50%;
  color: $icon-color;
  background-color: $button-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-list {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  margin-bottom: 0;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  .social-link:hover &,
  .social-link:focus & {
    fill: $button-color;
  }
}*/
/*
.mobile-menu-button {
  display: flex;
  width: 24px;
  height: 24px;
  margin-top: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.mobile-menu-button .icon-cross {
  display: none;
}
.mobile-menu-button.is-open .icon-cross {
  display: block;
}
.mobile-menu-button.is-open .icon-menu {
  display: none;
}
.mobile-menu-button:hover,
.mobile-menu-button:focus {
  fill: $accent-color;
}

.menu-mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 400px;

  background-color: $primary-text-color;
  padding: 60px 120px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    @media screen and (min-width: 767px) {
      display: none;
    }
    display: flex;
    flex-flow: column;
    text-align: center;
  }
}
.mobile-menu-list li {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $head-text-color;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.mobile-menu-contacts {
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  margin-top: 0;
  margin-bottom: 16px;

  padding: 0;
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $title-text-color;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
}
.mobile-menu-item {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 21px;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
*/
/*modal screen*/
/*.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: auto;
  background: $top-nav-color;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.modal-title {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 448px;
  height: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: $letter-spacing;
  color: $head-text-color;
}

.icon-x {
  display: flex;
  fill: $head-text-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.modal-btn {
  @extend %centered-flex;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  margin: 0;
  padding: 6px;
  background: $top-nav-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  font-family: inherit;
  cursor: pointer;
}*/
/*modal form*/
/*.form {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: auto;
}

.form-field {
  position: relative;
  display: block;
  width: 448px;
  height: auto;
  margin-bottom: 28px;

  &:nth-child(4n) {
    margin-bottom: 0px;
  }
}

.form-field > .comments {
  position: relative;
  display: block;
  width: 448px;
  height: 120px;

  font-family: inherit;
  font-size: $font-size;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: 0;
  margin-bottom: 4px;

  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.01em;
  color: $title-text-color;

  
  transform: translateY(-40px) translateX(-50px);
  transition: transform $transition-duration linear;
}

.form-input {
  width: 448px;
  height: auto;
  margin-top: 0;
  padding: 10px 20px;
  padding-left: 42px;
  font-family: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 13px;
  height: 13px;
  transform: translateY(-50%);

  display: inline-block;

  fill: $head-text-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  background-color: $top-nav-color;

  .form-field:hover > & {
    fill: $accent-color;
  }
  .form-field:focus-within > & {
    fill: $accent-color;
  }
}
.comments {
  width: 448px;
  height: auto;
  resize: none;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  font-family: inherit;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.text-comment {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: 0;
  margin-bottom: 4px;

  
  transform: translateY(-85px) translateX(-50px);
  transition: transform $transition-duration linear;
}

.checkbox {
  @extend %checkbox;
}

.label-checkbox {
  @extend %centered-flex;

  margin-top: 0;
  margin-bottom: 30px;
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $title-text-color;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 0;
  margin-right: 9px;
  border-radius: 2px;
  border: 2px solid $title-text-color;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  .checkbox:checked + & {
    border-color: transparent;
    background: $accent-color;
    border-radius: 2px;
    background-image: url("../images/checkbox.svg");
    background-repeat: no-repeat;
  }
}

.modal-btn-send {
  @extend %centered-flex;

  text-align: center;
  margin: auto;
  padding: 10px 55px;
  outline: 0;

  min-width: 200px;
  min-height: 50px;

  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $top-nav-color;

  box-shadow: 0px 4px 4px $box-shadow;
  border-radius: 4px;

  color: $top-nav-color;
  background-color: $accent-color;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    color: $top-nav-color;
    background-color: $accent-color;
    cursor: pointer;
  }
}
.link-checkbox {
  margin-left: 4px;
  color: $accent-color;
}*/
/*.bottom-footer {
  @include for-size(mobile) {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
  @include for-size(desktop) {
    display: flex;
    flex-direction: column;
    width: 231px;
    height: auto;
    padding: 0;
    margin-left: 0;
    margin-right: 70px;
  }
}
.address {
  width: 231px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.footer .email {
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: rgba(255, 255, 255, 0.6);
}

.footer .phone {
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: rgba(255, 255, 255, 0.6);
}

.address-link {
  margin-top: 0;
  margin-bottom: 9px;
  margin-left: 0;
  margin-right: 0;
}

.contacts-footer .location:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer {
  @media screen and (max-width: 767px) {
    align-items: center;
  }
  @media screen and (max-width: 1199px) {
    align-items: center;
  }
  @include for-size(desktop) {
    width: auto;
    height: auto;
  }
}
.footer-social {
  @include for-size(mobile) {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
  }
  @include for-size(tablet) {
    display: block;

    width: 50%;
    margin-top: 0;
    margin-bottom: 60px;
  }
  @include for-size(desktop) {
    width: 206px;
    height: 80px;
    margin-left: 0;
    margin-right: 60px;
    padding: 0;
  }
}

.footer-header {
  font-family: $font-family;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-align: left;
  color: $top-nav-color;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.footer-blocks {
  @include for-size(mobile) {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
  }
}
/*@include for-size(tablet) {
    display: flex;
  }
  @include for-size(desktop) {
    display: flex;
    margin-top: 0;
    mmargin-left: 0;
  }*/
/*@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-blocks {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-blocks {
    display: inline-flex;
    align-items: flex-start;
  }
}*/
/*footer email*/
/*.footer-email {
  @include for-size(mobile) {
    display: block;
    width: 450px;
  }
  @include for-size(tablet) {
    display: block;
    justify-content: center;
    align-items: center;
    width: 450px;
  }
  @include for-size(desktop) {
    display: block;
  }
}

.footer-blocks-email {
  @include for-size(mobile) {
    display: block;
    width: 100%;
  }
  @include for-size(tablet) {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  @include for-size(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    
  }
}

.footer-field {
  position: relative;
  @include for-size(mobile) {
    display: block;
  }
  @include for-size(tablet) {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  @include for-size(desktop) {
    display: flex;
  }
}
.footer-input {
  padding: 10px 20px;
  background-color: inherit;
  border: 1px solid $border;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px $box-shadow;
  filter: drop-shadow(0px 4px 4px $box-shadow);
  border-radius: 4px;
  @include for-size(mobile) {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
  @include for-size(desktop) {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
  }
}

.footer-btn-send {
  width: 200px;
  height: 50px;

  padding: 10px 62px 10px 29px;
  outline: 0;

  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $top-nav-color;
  background-color: $accent-color;

  box-shadow: 0px 4px 4px $box-shadow;
  border-radius: 4px;

  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $top-nav-color;
    background-color: $accent-color;
  }
  @media screen and (max-width: 479px) {
    display: flex;
  }
  @include for-size(mobile) {
    display: flex;
    align-items: center;
    text-align: center;
  }
  @include for-size(tablet) {
    display: flex;
  }
  @include for-size(desktop) {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: 12px;
    margin-right: 0;
  }
}
.icon-plane-email {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 0;
  color: $top-nav-color;
  /*@include for-size(mobile) {
    display: block;
  }
  @include for-size(tablet) {
    display: block;
    justify-content: center;
  }
  @include for-size(desktop) {
    display: flex;
  }
}*/
/*.icon-plane {
  fill: $top-nav-color;
}*/
/*.footer-social-item {
  display: flex;
  justify-content: center;
  background: $dark-background-color;

  & li:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 44px;
  height: 44px;
  color: $top-nav-color;
  border-radius: 50%;
  background-color: $footer-social-link;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: $top-nav-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    fill: $top-nav-color;
  }
}*/
/*.logo-footer {
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: $letter-spacing;
  color: $top-nav-color;
  width: 145px;
  height: auto;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}*/
/*.header-site {
  position: relative;
  max-height: 80px;
  background-color: $top-nav-color;
  border-bottom: 1px solid $border-bottom;

  @media screen and (max-width: 767px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.baner {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: $dark-background-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/herobg480x1.jpg");
  @media screen and (max-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/herobg480x2.jpg");
    }
  }
  @media screen and (min-width: 481px) and (max-width: $tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/herobg768x1.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/herobg768x2.jpg");
      }
    }
  }
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/herobg1200x1.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/herobg1200x2.jpg");
      }
    }
  }
}
.head-baner {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;
  padding-bottom: 200px;
}

.head-logo-type {
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font-family;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $top-nav-color;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    text-align: center;
    width: 696px;
    height: auto;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font-family;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $top-nav-color;
  }
}*/
/* section*/
@media screen and (max-width: 1199px) {
  .section-specialization {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-specialization {
    display: block;
  }
}

.specialization {
  padding-bottom: 94px;
  display: flex;
}

.specialization-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.specialization-text {
  position: absolute;
  bottom: 0px;
  padding: 27px 0px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #2196f3;
}

.specialization .item {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 30px) / 3);
  display: block;
  justify-content: center;
}

.specialization .item:last-child {
  margin-right: 0;
}

/*.section {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 786px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.section-distance {
  display: none;

  @include for-size(desktop) {
    display: block;
    width: 1200px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;
  }
}
/*Style for portfolio.html*/
/*.portfolio-page {
 
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  @include for-size(mobile) {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  
}

.title-potfolio {
  @include for-size(mobile) {
    display: block;
    width: 100%;
  }
  
  background: $top-nav-color;
  text-decoration: $head-text-color;
}*/
/*.flex-photo {
  @include for-size(mobile) {
    display: block;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    display: flex;
  }
}*/
/*.flex-photo .content-box {
  display: block;
  justify-content: center;
  width: 450px;
  /*width: calc((100% - 90px) / 4);
  margin-right: 30px;*/
/*margin-bottom: 0;

  @media (min-width: $mobile) {
    display: block;
    justify-content: center;
  }
  @include for-size(mobile) {
    display: block;
  }
  @include for-size(tablet) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 0;
  }
  @include for-size(desktop) {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content-box:nth-child(2n) {
    margin-right: 0px;
  }
}

/*@media screen and (min-width: 768px)
.features .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;*/
/*.content-box::before {
  display: block;
  content: "";
  width: auto;
  height: 120px;
  background: $hero-background-color;
  border-radius: 4px;
  background-size: 65px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 102px;
  margin-top: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .content-box:nth-child(4n) {
    margin-right: 0px;
  }
}
/*.content-box:nth-child(4n) {
  margin-right: 0px;
}*/
/*.icon-details::before {
  background-image: url(../images/sputnik.svg);
}

.icon-punctuality::before {
  background-image: url(../images/time.svg);
}

.icon-plan::before {
  background-image: url(../images/notebook.svg);
}

.icon-tech::before {
  background-image: url(../images/astronaut.svg);
}

.title {
  font-family: $font-family;
  font-weight: 700;
  font-size: $font-size;
  line-height: 0.87;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-align: center;
  color: $head-text-color;
  margin-top: 0;
  margin-bottom: 10px;
}

.text {
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 30px;
}*/
/*.section-title {
  @include for-size(mobile) {
    display: flex;
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.85;
    letter-spacing: $letter-spacing;
    color: $head-text-color;
  }
  @include for-size(tablet) {
    display: flex;
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.85;
    letter-spacing: $letter-spacing;
    color: $head-text-color;
  }
  @include for-size(desktop) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 0;
    font-family: $font-family;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.85;
    letter-spacing: $letter-spacing;
    color: $head-text-color;

    & .center {
      text-align: center;
    }

    &,
    .title {
      color: $head-text-color;
    }
  }
}

.flex-box {
  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
    min-width: 1200px;
    height: auto;
  }
}

.content-photo {
  @include for-size(desktop) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 0;
    max-width: 370px;
    height: auto;
  }

  & {
    width: calc((100% - 60px) / 3);
  }

  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.studio-content {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-family: $font-family;
  font-weight: 700;
  font-size: $font-size;
  line-height: 0.87;
  text-align: center;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  color: $top-nav-color;
  background: rgba(47, 48, 58, 0.8);
}*/
/*.main-heros {
  background: $hero-background-color;
  @include for-size(mobile) {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  @include for-size(mobile) {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  @include for-size(mobile) {
    width: 100%;
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: auto;
  }
}

.section-team {
  font-family: $font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: $letter-spacing;
  color: $head-text-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;

  & .center {
    text-align: center;
  }
}

.team-list {
  @include for-size(mobile) {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding: 0;
    margin: 0;

    & .content-heros {
      width: 270px;
    }
  }
}



.content-heros {
  text-align: center;
  @include for-size(mobile) {
    width: 100%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    & {
      width: calc((100% - 60px) / 2);
      margin-left: 0;
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
  @include for-size(desktop) {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 30px;
    background: $top-nav-color;
    border: 1px solid $border-portfolio-card;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    & {
      width: calc((100% - 90px) / 4);
      margin-left: 0;
      margin-right: 30px;
      margin-bottom: 0;
    }

    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
}
.hero-photo {
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-title {
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: $letter-spacing;
  color: $head-text-color;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-work {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: $letter-spacing;
  color: $title-text-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
}*/
/* clients*/
/*.section-clients {
  @include for-size(mobile) {
    display: flex;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include for-size(tablet) {
    display: flex;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include for-size(desktop) {
    display: flex;
    width: 1200px;
    margin: auto;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.flex-clients {
  @include for-size(mobile) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: auto;
  }
}

.clients-list {
  @include for-size(mobile) {
    display: flex;
    flex-wrap: wrap;
    .flex-clients & {
      width: calc((100% - 60px) / 2);
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    .flex-clients & {
      width: calc((100% - 90px) / 3);
      margin-right: 30px;
      margin-bottom: 30px;
    }

    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  @include for-size(desktop) {
    display: inline-block;
    content: "";
    width: 170px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    margin-left: auto;
    background: #e5e5e5;

    .flex-clients & {
      width: calc((100% - 150px) / 6);
      margin-right: 30px;
      margin-bottom: 0;
    }

    &:nth-child(6n) {
      margin-right: 0px;
    }
  }
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid $icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: $top-nav-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.clients-icon {
  width: 44px;
  height: 44px;
  fill: $icon-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $accent-color;
  }
}*/
/*.title-button {
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: $letter-spacing;
  color: $head-text-color;
  outline: 0;
  background: $hero-background-color;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  cursor: pointer;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    color: $top-nav-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &:active {
    color: $top-nav-color;
    background: $accent-color;
  }
}


.menu-button {
  text-align: center;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: center;
    width: auto;
    margin-top: 0;
    margin-bottom: 40px;

    & .btn:not(:nth-last-child(-2n + 3)) {
      margin-right: 8px;
    }
  }
  @media screen and (max-width: 767px) {
    display: flex;

    padding-bottom: 30px;
    & .btn {
      margin-bottom: 15px;
    }
    & .btn:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;

    margin-bottom: 30px;
    justify-content: center;
  }
  & .btn:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;

    & .btn {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 50px;
  }
}*/
/*.img-work {
  @include for-size(mobile) {
    display: block;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 2);
  }
  @include for-size(desktop) {
    display: flex;
    flex-basis: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.img-link {
  @media screen and (max-width: 767px) {
    display: block;
    width: 100%;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  &:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768) {
    display: flex;
    flex-basis: calc((100% - 60px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200) {
    display: flex;
    flex-basis: calc((100% - 90px) / 3);
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}
.img-link {
  background: $top-nav-color;
  border: 1px solid $border-portfolio-card;
  box-sizing: border-box;

  & .img-item:hover,
  & .img-item:focus {
    border: 1px solid $border-portfolio-card;
    box-sizing: border-box;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.img-item {
  text-decoration-line: none;
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  @include for-size(mobile) {
    display: block;
    width: 100%;
  }
  /*@include for-size(tablet) {
    display: flex;
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200) {
    display: flex;
    flex-basis: calc((100% - 90px) / 3);
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }*/
/*}

.title-work {
  font-family: $font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $head-text-color;
  text-decoration-line: none;
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  @include for-size(mobile) {
    display: block;
    width: 100%;
  }
}

.type-work {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: $letter-spacing;
  color: $title-text-color;
  text-decoration-line: none;
  margin: 0;
  padding: 0;
  @include for-size(mobile) {
    display: block;
    width: 100%;
  }
  @include for-size(tablet) {
    display: block;
    width: 100%;
  }
  @include for-size(desktop) {
    display: block;
    width: 322px;
    height: auto;
  }
}
/*overlay*/
/*.product-thumb {
  position: relative;
  overflow: hidden;

  .img-item:hover &,
  .img-item:focus & {
    opacity: 1;
    transform: translateY(0);
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }
}

.portfolio-meta {
  padding: 20px 24px;
  border-right: 1px solid $border-portfolio-card;
  border-bottom: 1px solid $border-portfolio-card;
  border-left: 1px solid $border-portfolio-card;
  border-top: none;
  box-sizing: border-box;
}

.portfolio-actions {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  height: 100%;
  padding: 63px 24px;
  color: $accent-color;
  background: $overlay-color;

  transform: translateY(100%);
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  .img-item:hover &,
  .img-item:focus & {
    opacity: 1;
    transform: translateY(0);
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    color: $top-nav-color;
  }
}*/
/*.footer {
  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $top-nav-color;
  background: $dark-background-color;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  margin-left: auto;
  margin-right: auto;

  & a {
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color: $top-nav-color;
  }
  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}*/
/*# sourceMappingURL=main.css.map */