.logo-footer {
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $top-nav-color;
  width: 145px;
  height: auto;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}
