.footer-social-item {
  display: flex;
  justify-content: center;
  background: var(--dark-background-color);
}
.footer-social-item li:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list .footer-social-link {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  content: "";
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--top-nav-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--top-nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  fill: var(--top-nav-color);
}
