.menu {
  display: flex;
  justify-content: center;
}

.site-nav .menu-item :last-child {
  margin-right: 0;
}

.contact-nav .menu-item:last-child {
  margin-right: 0;
}

.site-nav {
  margin-left: 0;
  width: 294px;
  height: auto;
  letter-spacing: 0.02em;
}

.site-nav .link {
  @extend %link;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding: auto;
}

.menu .menu-item + .menu-item {
  margin-left: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}

.contact-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding: auto;
}

/* Site nav*/

.site-nav .link {
  font-family: $font-family
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $head-text-color;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact-nav {
  font-family: $font-family
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;

  display: flex;
  margin-left: auto;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .current {
  color: $accent-color;
}

.email {
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
  &:hover .envelope,
  &:focus .envelope {
    fill: $accent-color;
  }
}

.phone {
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .smartphone,
  &:focus .smartphone {
    fill: $accent-color;
  }

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.envelope {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  padding: 0;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 10px;
  height: 16px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  padding: 0;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
