/*social icons*/

.social-item {
  @extend %centered-flex;

  background-color: $button-color;
  width: 206px;
  height: 44px;
  margin-left: 32px;
  margin-right: 30px;
}

.social-link {
  @extend %centered-flex;

  width: 44px;
  height: 44px;

  border: 1px solid transparent;
  border-radius: 50%;
  color: $icon-color;
  background-color: $button-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-list {
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  margin-bottom: 0;

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;

  .social-link:hover &,
  .social-link:focus & {
    fill: $button-color;
  }
}
