body {
  font-family: $font-family;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  background: $primary-text-color;
  color: $title-text-color;
  margin: 0px;
}
/*body.modal-open {
  overflow: hidden;
}*/

.link {
  @extend %link;
}

.list {
  @extend %list;
}

/*Style for index.html*/
html {
  box-sizing: border-box;
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.hidden-header {
  @extend %hidden-header;
}
