:root {
  --primary-text-color: #ffffff;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --hero-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --head-text-color: #212121;
  --top-nav-color: #ffffff;
  --icon-color: #afb1b8;
  --button-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

/*$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-bg-color: #afb1b8;
$social-icon-color: rgba(255, 255, 255, 0.1);
$third-bg-color: rgba(47, 48, 58, 0.8);
$button-bg-color: #f5f4fa;
$border-portfolio-card: #eeeeee;
$bgc-link-text: rgba(33, 150, 243, 0.9);

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;
$font-size: 14px;
$line-height: 1.14;
$letter-spacing: 0.03em;*/
