/* clients*/

.flex-clients {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: auto;

  & .clients-list {
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.clients-list {
  display: inline-block;
  content: "";
  width: 170px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  margin-left: auto;
  background: #e5e5e5;

  &:nth-child(6n) {
    margin-right: 0px;
  }
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid $icon-color;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: white;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.clients-icon {
  width: 44px;
  height: 44px;
  fill: $icon-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $accent-color;
  }
}
