.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/*.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.baner {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: $dark-background-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/herobg480x1.jpg");
  @media screen and (max-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/herobg480x2.jpg");
    }
  }
  @media screen and (min-width: 481px) and (max-width: $tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/herobg768x1.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/herobg768x2.jpg");
      }
    }
  }
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/herobg1200x1.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/herobg1200x2.jpg");
      }
    }
  }
}
.head-baner {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;
  padding-bottom: 200px;
}

.head-logo-type {
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font-family;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $top-nav-color;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    text-align: center;
    width: 696px;
    height: auto;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font-family;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $top-nav-color;
  }
}*/
