.flex-photo {
  @include for-size(mobile) {
    display: block;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    display: flex;
  }
}

.flex-photo .content-box {
  width: 450px;
  /*width: calc((100% - 90px) / 4);
  margin-right: 30px;*/
  margin-bottom: 0;

  @include for-size(tablet) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 0;
  }
  @include for-size(desktop) {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .content-box:nth-child(2n) {
    margin-right: 0px;
  }
}

/*@media screen and (min-width: 768px)
.features .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;*/

.content-box::before {
  display: block;
  content: "";
  width: auto;
  height: 120px;
  background: $hero-background-color;
  border-radius: 4px;
  background-size: 65px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 102px;
  margin-top: auto;
  margin-bottom: 30px;
}

.content-box:nth-child(4n) {
  margin-right: 0px;
}

.icon-details::before {
  background-image: url(../images/sputnik.svg);
}

.icon-punctuality::before {
  background-image: url(../images/time.svg);
}

.icon-plan::before {
  background-image: url(../images/notebook.svg);
}

.icon-tech::before {
  background-image: url(../images/astronaut.svg);
}

.title {
  font-family: $font-family;
  font-weight: 700;
  font-size: $font-size;
  line-height: 0.87;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  text-align: center;
  color: $head-text-color;
  margin-top: 0;
  margin-bottom: 10px;
}

.text {
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 30px;
}
