.footer {
  font-family: $font-family
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $top-nav-color;
  background: #2f303a;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  margin-left: auto;
  margin-right: auto;

  & a {
    font-style: normal;
    text-decoration: none;
    color: $top-nav-color;
    letter-spacing: 0.03em;
  }
}

.footer .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
