.footer {
  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $top-nav-color;
  background: $dark-background-color;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  margin-left: auto;
  margin-right: auto;

  & a {
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color: $top-nav-color;
  }
  & a:hover,
  & a:focus {
    color: $accent-color;
  }
}

.footer .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
