.main-heros {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
  background: $hero-background-color;
}

.section-team {
  font-family: $font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: $letter-spacing;
  color: $head-text-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;

  & .center {
    text-align: center;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding: 0;
  margin: 0;

  & .content-heros {
    width: 270px;
  }
}

.content-heros {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 30px;
  background: $top-nav-color;
  border: 1px solid $border-portfolio-card;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  & {
    width: calc((100% - 90px) / 4);
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 0;
  }

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.hero-photo {
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-title {
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: $letter-spacing;
  color: $head-text-color;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-work {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: $letter-spacing;
  color: $title-text-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
}
