/* section*/
.section-specialization {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
.specialization {
  @extend %list;
  padding-bottom: 94px;
  display: flex;
  & img {
    @extend %image;
  }
  &-title {
    margin-bottom: 50px;
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
  }
  &-text {
    position: absolute;
    bottom: 0px;
    padding: 27px 0px;
    width: 100%;
    @include font(700, 14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: $accent-color;
  }
}
.specialization .item {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 30px) / 3);
  display: block;
  justify-content: center;
  &:last-child {
    margin-right: 0;
  }
}
/*.section {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 786px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.section-distance {
  display: none;

  @include for-size(desktop) {
    display: block;
    width: 1200px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;
  }
}
/*Style for portfolio.html*/

/*.portfolio-page {
 
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  @include for-size(mobile) {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  
}

.title-potfolio {
  @include for-size(mobile) {
    display: block;
    width: 100%;
  }
  
  background: $top-nav-color;
  text-decoration: $head-text-color;
}*/
