/* section*/

/*.section {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 786px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.section-distance {
  display: none;

  @include for-size(desktop) {
    display: block;
    width: 1200px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;
  }
}
/*Style for portfolio.html*/

/*.portfolio-page {
 
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  @include for-size(mobile) {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  
}

.title-potfolio {
  @include for-size(mobile) {
    display: block;
    width: 100%;
  }
  
  background: $top-nav-color;
  text-decoration: $head-text-color;
}*/
