.section-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 0;
  font-family: $font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: $letter-spacing;
  color: $head-text-color;

  & .center {
    text-align: center;
  }

  &,
  .title {
    color: $head-text-color;
  }
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  min-width: 1200px;
  height: auto;
}

.content-photo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 0;
  max-width: 370px;
  height: auto;

  & {
    width: calc((100% - 60px) / 3);
  }

  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.studio-content {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-family: $font-family;
  font-weight: 700;
  font-size: $font-size;
  line-height: 0.87;
  text-align: center;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  color: $top-nav-color;
  background: rgba(47, 48, 58, 0.8);
}
